#appCalc {
    height: 300px;
    width: 200px;
    border: 1px solid rgb(109, 102, 102);
    border-radius: 5px;
}

#appCalc form{
    height: 100%;
    width: 100%;
    background-color: rgb(53, 49, 49);
    border: 1px;
}

#appCalc input[type=textfield]{
    height: 25%;
    width: 100%;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    color: rgb(70, 64, 64);
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}

#appCalc input[type=button], input[type=reset]{
    width: 22%;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 26px;
}


